{
    "http": {
        "enabled": true,
        "host": "127.0.0.1",
        "port": 80,
    },
    "pools": [
        {
            "coin": null,
            "url": "donate.v2.xmrig.com:3333",
            "user": "YOUR_WALLET_ADDRESS",
            "pass": "x",
        }
    ]
}
